anyio==4.4.0
fonttools==4.52.4
fsspec==2024.5.0
jupyter_client==8.6.2
jupyterlab==4.2.1
jupyterlab_git==0.50.1
jupyterlab_server==2.27.2
matplotlib==3.9.0
platformdirs==4.2.2
prompt_toolkit==3.0.45
requests==2.32.3
scikit-learn==1.5.0
scipy==1.13.1
sympy==1.12
torch==2.3.0
typing_extensions==4.12.0
urllib3==2.0.7
